<phpunit
  backupGlobals="false"
  backupStaticAttributes="false"
  bootstrap="bootstrap.php"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  beStrictAboutTestsThatDoNotTestAnything="false"
  colors="true"
  >
  <php>
    <ini name="error_reporting" value="-1" />
  </php>
  <testsuites>
    <testsuite name="LegacyStorage">
      <directory>tests/lib/Persistence</directory>
    </testsuite>
    <testsuite name="Doctrine">
      <directory>tests/lib/Doctrine</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory suffix=".php">eZ</directory>
      <exclude>
          <directory>tests/</directory>
          <directory>docs</directory>
          <directory>vendor</directory>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
